.container{
    
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.cont{
    
   
    
}

button{
    background-color: #1F51FF;
    color:white;
    margin: 5px;
    
}

span{
    height: 100%;
    width: 100px;

}